.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: rgb(80, 80, 83);
  transition: transform 0.2s ease-in ;
  cursor: pointer;
  text-align: left;
}

.contact-icon {
  font-size: 1.5rem;
  color: rgb(156, 156, 158);
}

.contact-item:hover{
  transform: scale(1.05);
}