.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: #ddd;
  transition: transform 0.2s ease-in ;
  cursor: pointer;
  text-align: left;
}

.contact-icon {
  font-size: 1.5rem;
  color: rgb(183, 176, 71);
}

.contact-item:hover{
  transform: scale(1.05);
}