.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem 0rem 1.5rem;
  background-color: rgba(25, 27, 31, 0.874);
  border: 1px solid rgba(211, 207, 186, 0.2);
  transition: transform 0.3s ease-in-out;
  height: 16rem;
  margin: auto;
  border-radius: 8px;
  cursor: context-menu;
}

.service-box:hover {
    transform: translateY(-7px); 
    backdrop-filter: blur(1px) ;
    /* cursor: pointer; */
    border: 1px solid rgba(204, 200, 176, 0.84);
    box-shadow: 2px 2px 8px rgb(255, 255, 255, 0.1);
}

.icon-circle {
  background: #9d7e2f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 5px solid #9c740c;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.icon-image {
  width: 100%;
  height: 105%;
  color: #decc87;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-text {
  color: rgb(183, 176, 71);
  font-size: 1.2rem;
  font-weight: 550;
  margin-bottom: 0.5rem;
  text-align: center;
}

.desc-text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  color: #ccc;
  font-size: 0.95rem;
  text-align: center;
}

.desc-icon{
  width: 2rem;
  height: 1.3rem;
  margin-right: 10px;
}


.service-box:hover .name-text {
  color: #e5c100;
  font-weight: 400;
}

.service-box:hover .desc-text {
  color: #eee;
  font-weight: 500;
}

.service-box:hover .icon-circle {
  border: 3px solid #9c740c;
}