.contact-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2rem 4rem;
  margin-top: 5rem;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  flex-wrap: wrap;
  gap: 3rem;
  min-width: 60vw;
}

.contact-left {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(183, 176, 71);
  margin-bottom: 2rem;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  cursor: default;
}

.contact-title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: rgb(183, 176, 71);
  transition: width 0.4s ease;
}

.contact-title:hover::before {
  width: 100%;
}


.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.contact-map {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
}
