/* .home_wrapper{
    margin: 2px 2rem;
    max-width: 10vw;
    text-wrap: nowrap;
} */
/* .landing_page_heading{
    color: rgb(0, 173, 181);
} */

/* @media (min-width: 768px) { md breakpoint */
  /* .home_wrapper{
    max-width: 70vw;
  }
} */

/* @media (min-width: 1024px) { lg breakpoint */
  /* .home_wrapper{
    max-width: 50vw;
  }
} */
