.services-wrapper{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 4rem;
}
.service-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.2rem;
  justify-items: center;
}

.services-wrapper-h2{
  font-size: 2rem;
  margin-bottom: 0;
  /* color: rgb(156, 156, 158); */
  color:rgb(231, 231, 231);
  font-family: "Cinzel", serif;;
}

.vision{
  color: rgb(158, 158, 165);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 0;
}