.services-wrapper{
    text-align: center;
    color: rgb(183, 176, 71);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    /* display: flex;
    flex-direction: ; */
}
.service-cards{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    /* flex-wrap: wrap-reverse; */
}