.services-wrapper{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 4rem;
}
.service-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.2rem;
  justify-items: center;
}

.services-wrapper-h2{
  font-size: 2rem;
  margin-bottom: 0;
  color: rgb(183, 176, 71);
}

.vision{
  color: aliceblue;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}