.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgba(23, 20, 11, 0.95); */
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 100;
  backdrop-filter: blur(3px);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 6rem;
  aspect-ratio: 1;
  /* width: auto; */
  padding: 0;
}

.logo-line-1 {
  font-size: 1.1rem;
  font-weight: bold;
}

.logo-line-2 {
  font-size: 0.9rem;
  font-weight: normal;
}
.brand {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  color: rgb(238,224,122);
  line-height: 1;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: aliceblue;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar-links button {
  background: none;
  border: none;
  color: aliceblue;
  margin-left: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
  outline: none;
}

.navbar-links button:hover {
  color: rgb(183, 176, 71);
}

/* Responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(23, 20, 11, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .navbar.open .navbar-links {
    max-height: 300px;
    padding: 1rem 0;
  }
  .navbar-links button {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
}