*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}
