@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  color: rgba(255, 255, 255, 0.87);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background:
      /* linear-gradient(217deg, rgba(34, 33, 43, 0.8), transparent 70.71%), */
      linear-gradient(127deg, rgba(32, 32, 41, 0.8), transparent 70.71%),
      linear-gradient(336deg, rgba(35, 36, 37, 0.8), transparent 70.71%),
      /* url("/pawel-czerwinski-FCB0X2y19M8-unsplash.jpg"); */
      url("/background.jpg");
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    background-attachment: fixed;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}
